/* SUMMARY
1. Global
2. Header
3. What we do
4. Our results
5. Contact us
6. Footer
*/ 

/*** 1. Global ***/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-white: #F2F2F2;
    --color-black: #071629;
    --color-red: #FF6565;
    --font-family-base: "source sans pro", sans-serif;
}

body {
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* link */
a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover {
    color: var(--color-red);
}

/* text */
p {
    font-size: 16px;
}

/* list */
ul li {
    list-style: none;
}

/* button */
button {
    color: var(--color-white);
    background: var(--color-red);
    font-size: 14px;
    font-weight: 700;
    padding: .8rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
}

button:hover {
    opacity: 0.9;
}

/*** 2. Header ***/

/** HEADER DESKTOP FORMAT **/
.header {
    width: 100%;
    max-width: 1400px;
    height: 800px;
    box-sizing: border-box;
    padding: 1.5rem 5rem;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    margin-bottom: 5rem;
}

/* Menu */
.header .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header img {
    width: 161px;
    height: 32px;
}

.header .nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.menu-navigation .nav-text {
    font-size: 12px;
    font-weight: 700;
}

/* Menu button for hamburger */
.menu-btn {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    z-index: 2;
}

/* header banner */
.header .header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19rem;
}

.banner-1, .banner-2, .banner-3 {
    text-align: center;
}

/* title and text banner*/
.banner-1 {
    padding-bottom: 2.5rem;
}

.banner-1 .banner-title {
    font-size: 32px;
    font-weight: 700;
}

.banner-1 .banner-text {
    font-size: 16px;
    font-weight: 700;
}

/* button banner */
.banner-2 {
    padding-bottom: 4.7rem;
}

.banner-2 .banner-button {
    box-shadow: 0 2px 10px var(--color-black);
}

/* description banner */
.banner-3 {
    max-width: 1000px;
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/** HEADER TAB FORMAT **/
@media screen and (max-width: 768px) {
    .header {
        padding: 1.5rem 2.5rem;
    }    
}

/** HEADER PHONE FORMAT **/
@media screen and (max-width: 480px) {
    
    .header img {
       margin-left: 3rem;
    }
    
    .header {
        background-position: -100%;
        height: 869px;
        padding: 1.5rem 1.5rem;
    }

    .header .header-menu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;    
    }

    .menu-navigation {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        z-index: 1;
        display: none;
    }

    .menu-btn:checked ~ .menu-navigation {
        display: block;
    }

    .menu-navigation .nav {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        align-items: center;
    }

        .menu-icon {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu-icon .nav-icon {
        font-size: 2rem;
        color: var(--color-white);
        display: block;
        transition: opacity 0.2s;
        position: absolute;
        left: 0;
        top: 0;
    }

    .menu-icon .cross {
        display: none;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 0;
    }
    .menu-icon .cross::before,
    .menu-icon .cross::after {
        content: '';
        position: absolute;
        left: 0;
        width: 2rem;
        height: 0.2rem;
        background: var(--color-white);
    }
    .menu-icon .cross::before {
        transform: rotate(45deg);
    }
    .menu-icon .cross::after {
        transform: rotate(-45deg);
    }
    .menu-btn:checked + .menu-icon .nav-icon {
        display: none;
    }
    .menu-btn:checked + .menu-icon .cross {
        display: block;
    }

    .menu-btn:checked + .menu-icon .cross::before {
        display: block;
        width: 1rem;
        height: 0.2rem;
        background-color: var(--color-white);
        transform: rotate(-45deg);
    }

    .menu-btn:checked + .menu-icon .cross::after {
        display: block;
        width: 1rem;
        height: 0.2rem;
        background-color: var(--color-white);
        transform: rotate(45deg);
    }

    .menu-btn:checked + .menu-icon .cross::before,
    .menu-btn:checked + .menu-icon .cross::after {
        top: 1rem;
        width: 2rem;
    }

    .header .header-banner {
        padding-top: 15rem;
    }

    .banner-3 {
        width: 100%;
    }
}

/*** 3. What we do ***/

/*about */
.about {
    text-align: center;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* about banner */

.about-banner {
    width: 637px;
    padding-bottom: 5rem;
}

.about-title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 3rem;
}

.about-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

/* card */
.card {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0 2rem 0;
}

.card-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    
}

.icon {
    color: var(--color-red);
    font-size: 94px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: .5rem;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    width: 70%;
}

/** TABLET ABOUT FORMAT **/
@media screen and (max-width:768px) {
    .card {
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
}

@media screen and (max-width:480px) {
    .card {
        flex-direction: column;
    }

    .about-banner {
        width: 95%;
    }

    .card-text {
        width: 49%;
    }
    
}

/*** 4. Our results ***/

.result {
    background-image: url(images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    max-width: 1400px;
    width: 100%;
    color: var(--color-white);
    padding: 3rem 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result banner */

.result-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-bottom: 3rem;
}

.result-banner-title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    padding: 8rem 0 3rem 0;
}

.result-banner-text {
    width: 65%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
}


/* Result card */
.result-card {
    display: flex;
    align-items: center;
    gap: 5rem;
    max-width: 1000px;
}

.result-card-element {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pentagon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.result-card-content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  pointer-events: none;
}

.result-card-title {
  font-size: 46px;
  font-weight: bold;
      margin: .7rem 0;
}

.result-card-text {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width:768px) {
    .result{
        height: 876px;
    }

    .result-banner {
        padding-bottom: 5rem;
    }

    .result-banner-title{
        padding: 11.5rem 0 3rem 0;
    }

    .result-banner-text {
        width: 85%;
    }

    .result-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 4rem;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
}

@media screen and (max-width:480px) {
    .result{
        height: 1491px;
    }

    .result-card {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}


/*** 5. Contact us ***/

/*** 6. Footer ***/